{% extends 'baseapp/base.html' %}
{% load static %}
{% block content %}
<h1>Общая информация</h1>
<p>Данная настольная ролевая игра является некоммерческой игрой по вселенной Warhammer40k, созданной
на основе системы правил GURPS с элементами домашних правил. Игра проводится на виртуальном столе
симулятора Tabletop. Игра является песочницой по типу повествования и весьма строгой в плане соблюдения канона
вселенной Вархаммера. Игрокам, участвующим в игре, создаются чар-листы в системе GURPS-mentor на основе которых и будет
производиться развитие игрока.</p>

<h5>Обязанности игрока:</h5>
<ul>
    <li>Выделять на игру хотябы 1 день в неделю</li>
    <li>Приходить вовремя на игру</li>
    <li>Сообщать об опозданиях либо задержках заранее</li>
    <li>Знать параметры, умения и характеристики своего персонажа и сообщать их гейм-мастеру по запросу</li>
</ul>
<h5>Обязанности мастера:</h5>
<ul>
    <li>Организовывать игры и выбирать наиболее удобные игрокам дни для проведения сессии</li>
    <li>Решать любые спорные моменты внутри игры</li>
    <li>Стараться проводить не менее 1 сессии в неделю</li>
    <li>Прислушиваться к игрокам в моментах, касающихся организации игры или ее баланса</li>
</ul>

<h5>Запрещено:</h5>
<ul>
    <li>Обманывать гейм-мастера и использовать очевидные абузы</li>
    <li>Покидать игру на неопределенный срок без оповещения гейм-мастера</li>
    <li>Непрырывно выказывать недовольство действиями гейм-мастера, мошнить под себя и всячески мешать игре</li>
    <li>Полностью выходить из образа, откровенно метагеймить и скатывать игру в клоунаду без необходимости</li>
</ul>

<h5>Вступая в игру вы соглашаетесь, что:</h5>
<ul>
    <li>Игровые механики могут быть изменены, по соображениям баланса, по ходу игры в т.ч. не в вашу пользу</li>
    <li>Не создавать конфликтые внеигровые ситуации на пустом месте</li>
    <li>Ваш персонаж не бессмертный и не обладает сюжетной броней, а в случае его смерти нас смогут перенанять</li>
</ul>
{% endblock content %}