{% extends 'baseapp/base.html' %}

{% block content %}
<h1>Общая информация</h1>
Данная настольная ролевая игра является некоммерческой игрой по вселенной Warhammer40k, созданной
на основе системы правил GURPS с элементами домашних правил. Игра проводится на виртуальном столе
симулятора Tabletop. Игра является песочницой по типу повествования и весьма строгой в плане соблюдения канона
вселенной Вархаммера. Игрокам, участвующим в игре, создаются чар-листы в системе GURPS-mentor на основе которых и будет
производится развитие игрока. Непосредственно в игре также используется специальная утилита, генерирующая случайные
события, которые могут произойти с игроками во время путешествия по миру.

<h5>Обязанности игрока:</h5>
<ul>
    <li>Выделять на игру хотябы 1 день</li>
    <li>Приходить вовремя на игру</li>
    <li>Сообщать о опозданиях либо задержках как можно более заранее</li>
    <li>Стараться отыгрывать выбранного персонажа не скатываясь в клоунаду</li>
    <li>Стараться избегать метагейма и откровенного манчкинства</li>
    <li>Не создавать конфликтые внеигровые ситуации на пустом месте</li>
</ul>

{% endblock content %}