{% extends 'baseapp/base.html' %}
{% load static %}

{% block content %}
<style>
    .content{
            background-image: url({% static 'baseapp/img/background_introduction_img.jpg' %});
            background-size: 100% 100%;
    }
</style>
<div class="introduction">
    <div class="introduction_mech">
        <p>
            Гастор Вейнвур, единственный наследник Ландо Вейнвура, поспешно собирает свои вещи, ровно, как и свои мысли.
            10 минут назад весь его мир, к которому он привык, разрушился. Погиб его отец. Погиб его учитель. Погибли
            все слуги его дома. И, в конечном итоге, погибло все построенное его семьёй за века. Но сам он еще не погиб,
            а значит и дом Вейнвуров еще может быть возрожден. Но для начала нужно уйти от облавы, ведь за одним ассасином
             должны прийти еще, а он даже не знает, кто жаждет его смерти
        </p>
        <p>Собрав остатки команды, Гастор повеливает своему верному капитану, Курту Бергиусу, немедленно готовить
        фамильный корабль, "Светоч Императора", к отбытию. Он еще отомстит убийцам своего отца, но для начала нужно
            затаиться там, где его никто не знает... </p>
        <p>Путешествие длилось больше полугода. Запасы варп-топлива оказались на исходе, но в тот момент, когда уже начали
        подкрадываться мысли об экстренном выходе в реальное пространство, корабль достиг точки назначения</p>
        <p>Бортовой компьютер проанализировал расположение звезд и выдал информацию: субсектор Терминус. Система: станция Тейа.
            Уровень имперской власти: минимальный. Год: 42015</p>
        <p>Ради пополнения припасов и топлива, и поиска ответов на вопросы, вы пристыковались к единственной в системе
        станции...</p>
    </div>
</div>
{% endblock content %}