{% extends 'baseapp/base.html' %}
{% load static %}


{% block content %}
    <div class="rules_menu">
        <a href="{% url 'danger' %}" class="danger">
            <div>
                <h2>{{ rules.0}}</h2>
            </div>
        </a>

        <a href="{% url 'movement' %}" class="movement">
            <div>
                <h2>{{ rules.1}}</h2>
            </div>
        </a>

        <a href="{% url 'battles' %}" class="battles">
            <div>
                <h2>{{ rules.2}}</h2>
            </div>
        </a>

        <a href="{% url 'economy' %}" class="economy">
            <div>
                <h2>{{ rules.3}}</h2>
            </div>
        </a>

        <a href="{% url 'psionics' %}" class="psionics">
            <div>
                <h2>{{ rules.4}}</h2>
            </div>
        </a>
        <a href="{% url 'death' %}" class="death">
            <div>
                <h2>{{ rules.5}}</h2>
            </div>
        </a>
    </div>
{% endblock content %}

