{% extends 'baseapp/base.html' %}
{% load static %}

{% block content %}
    <style>
    .content {
        background-image: url({% static 'baseapp/img/background_system.jpg' %});
        background-size: 100% 100%;
    }
    </style>

        {% if worlds_amount == 0 %}
            <div class="world0">
                <div class="system-description">
                    <h3 class="system-name">Система: {{ system.system_name }}</h3>
                    {{ system.system_description }}
                </div>
            </div>

        {% elif worlds_amount == 1 %}
            <div class="world1">
                <div class="system-description">
                    <h3 class="system-name">Система: {{ system.system_name }}</h3>
                    {{ system.system_description }}
                </div>
                {% for world in worlds %}
                    <div class="world-1-{{ world.0 }}">
                        <div class="world-name"><h5>{{ world.1 }}</h5></div>
                        {% if world.1.world_image %}
                        <img src="{{ world.1.world_image.url }}" alt="" style="float: right;" height="80%" width="55%">
                        {% endif %}
                        {{ world.1.world_description }}
                    </div>
                {% endfor %}
            </div>

        {% elif worlds_amount == 2 %}
            <div class="world2">
                <div class="system-description">
                    <h3 class="system-name">Система: {{ system.system_name }}</h3>
                    {{ system.system_description }}
                </div>

                {% for world in worlds %}
                    <div class="world-2-{{ world.0 }}">
                        <div class="world-name"><h5>{{ world.1 }}</h5></div>
                        {% if world.1.world_image %}
                        <img src="{{ world.1.world_image.url }}" alt="" style="float: right;" height="80%" width="55%">
                        {% endif %}
                        {{ world.1.world_description }}
                    </div>
                {% endfor %}
            </div>

        {% elif worlds_amount == 3 %}
            <div class="world3">
                <div class="system-description">
                    <h3 class="system-name">Система: {{ system.system_name }}</h3>
                    {{ system.system_description }}
                </div>

                {% for world in worlds %}
                    <div class="world-3-{{ world.0 }}">
                        <div class="world-name"><h5>{{ world.1 }}</h5></div>
                        {% if world.1.world_image %}
                        <img src="{{ world.1.world_image.url }}" alt="" style="float: right;" height="80%" width="55%">
                        {% endif %}
                        {{ world.1.world_description }}
                    </div>
                {% endfor %}
            </div>


        {% elif worlds_amount == 4 %}
            <div class="world4">
                <div class="system-description">
                    <h3 class="system-name">Система: {{ system.system_name }}</h3>
                    {{ system.system_description }}
                </div>

                {% for world in worlds %}
                    <div class="world-4-{{ world.0 }}">
                        <div class="world-name"><h5>{{ world.1 }}</h5></div>
                        {% if world.1.world_image %}
                        <img src="{{ world.1.world_image.url }}" alt="" style="float: right;" height="80%" width="55%">
                        {% endif %}
                        {{ world.1.world_description }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
{% endblock content %}
