{% extends 'baseapp/main_menu/main_rules_rp.html' %}
{% load static %}

{% block content %}

<div class="battles_mech">
    <div class="accuracy">
    <h6>Модификаторы стрельбы</h6>
        <p>
        Вероятность падания в игре представлена броском кубика 3d6 против сложности умения. На точность влияют
        как повышающие модификаторы так и понижающие :
        </p>
        <h6>Повышающие:</h6>
        <ul>
            <li>Бонус к точности оружия</li>
            <li>Импланты, артефакты, бафы</li>
            <li>Преемущество в высоте +1</li>
            <li>Отдельные боевые маневры</li>
        </ul>
        <h6>Понижающие:</h6>
        <ul>
            <li>Отдельные боевые маневры</li>
            <li>Связанность в ближнем бою при стрельбе -3</li>
            <li>Дебафы и травмы</li>
            <li>Стрельба за пределы дальности стрельбы от -1 до -5</li>
            <li>Наличие у цели укрытия от -1 до -2</li>
        </ul>
    </div>

    <div class="сombat_maneuvers">
    <h6>Боевые манёвры</h6>
        <p>В бою, помимо стандартной одиночной атаки, либо каких то особых действий, предусмотрены
            боевые маневры, имеющие стандартный эффект:</p>
        <ul>
            <li>Стрельба очередью +1 точность за каждые 5 израсходованных патронов</li>
            <li>Стрельба на бегу -3 точность двуручное / -1 одноручное</li>
            <li>Перезарядка с последующей стрельбой -3 точность</li>
            <li>Оборонительный бой -2 точность +2 уклонение</li>
            <li>Прицеливание +1 точность и запрет на уклонение</li>
            <li>Стрельба в конечности. Дебафает цель</li>
        </ul>
    </div>

    <div class="armor">
        <h6>Вычет урона</h6>
        <p>При попадании в цель параметр брони вычитает из рассчета урона свое значение.
            Это значение и становится итоговым уроном. В случае критического урона учитывается
        лишь половина брони. Некоторые виды оружия полностью либо частично игнорируют ее</p>
        <p>Через броню всегда наносится минимальный урон, равный количеству кубиков урона деленному на 2, при этом если
        цифры брони в 2 раза превышают нанесенный урон, то цель не повреждается совсем</p>
        <h6>Механика лазгана</h6>
        <p>Итоговые повреждения, после вычета урона, наносимые лазганами и их аналогами всегда удваиваются</p>
    </div>


    <div class="close_combat">
        <h6>Урон в ближнем бою</h6>
        <p>При нанесении урона в ближнем бою, учитывается также бонус к силе, указанный в системе GURPS-ментор в случае
        игроков, для юнитов урон рассчитывается обычным образом. </p>
        <h6>Парирование</h6>
        <p>При наличии щитов либо вспомогательного оружия - им можно, вместо атаки,
        парировать удары врага с соответствующими модификаторами указанными в GURPS-ментор. Юниты парирует с цифрами
        их уклонения. При успешном парировании наносится контр-удар основным оружием</p>
    </div>

</div>
{% endblock content %}