{% extends 'baseapp/main_menu/main_rules_rp.html' %}

{% block content %}
<h1>Опасность зон и уровень угрозы врагов</h1>
<p>
    Игровой мир поделен на отдельные локации, города, планеты и системы. Каждой из них может быть присвоен один
    из уровней опасности характеризующий, как силу неприятностей, которые могут в них выпасть на отряд, так и степень
    награды, полученную за их преодоление. Степень угрозы врагов определяет возможность появления опасных юнитов
    и техники. Дальнейшие описания, по большей степени, являются рекомендательными для гейм-мастера и не запрещают
    выставлять против игроков врагов, которые не вписываются в уровень опасности зоны или угрозы врагов, если того
    требует сюжет
</p>
<h6>Опасность зон подразделяется на:</h6>
<ul>
    <details>
        <summary>
            Нулевая опасность
        </summary>
        Угроза столкновения с противниками отсутствует либо минимальна. Внешнее окружение, в общем и целом, безопасно
    </details>
<br>
    <details>
        <summary>
            Зеленая опасность
        </summary>
        В зоне присутствуют враги, но их активность сильно ограничена собственным количеством
        либо противодействием имперских сил. Возможна ограниченная техногенная либо природная опасность
    </details>
<br>
    <details>
        <summary>
            Синяя опасность
        </summary>
        Вражеская активность находится на умеренном уровне. Возможны серьезные техногенные и природные опасности
    </details>
<br>
    <details>
        <summary>
            Фиолетовая опасность
        </summary>
        Высокая вражеская активность вызванная либо высоким количеством врагов либо недостаточностью
        сопротивления имперских сил. Возможны техногенные и природные опасности за исключением самых суровых
    </details>
<br>
    <details>
        <summary>
            Красная опасность
        </summary>
        Наивысший уровень угрозы включающий любые опасные события и количества врагов
    </details>
</ul>


<h6>Степень угрозы конкретных врагов подразделяется на:</h6>

<ul>
    <details>
        <summary>
            Нулевую степень
        </summary>
        Враги полностью отсутствуют
    </details>
<br>
    <details>
        <summary>
            Первую степень
        </summary>
        Исключительно слабая пехота и средняя пехота. Возможны сильные юниты, но только в виде боссов
    </details>
<br>
    <details>
        <summary>
            Вторую степень
        </summary>
        Появляется пехота вплоть до сильных юнитов. Возможна легкая бронетехника в виде боссов
    </details>
<br>
    <details>
        <summary>
            Третью степень
        </summary>
        Пехота не ограничена типом юнитов. Проявляется небольшая активность вражеской авиации и бронетехники
        Возможны сильнейшие юниты в виде боссов
    </details>
<br>
    <details>
        <summary>
            Четвертую степень
        </summary>
        Активность авиации и бронетехники становится нормой. Возможно появление любых стандартных врагов. Возможно
        появление сильнейших вар-форм в виде боссов
    </details>
<br>
    <details>
        <summary>
            Пятую степень
        </summary>
        Состав вражеского войска не ограничен ничем
    </details>
</ul>

{% endblock content %}