{% extends 'baseapp/main_menu/main_rules_rp.html' %}
{% load static %}

{% block content %}
<style>
        .content {
    background-image: url({% static 'baseapp/img/background_danger_img.jpg' %});
    background-size: 100% 100%;
    }
        h5{}
</style>
<div class="danger_and_threat_mech">
    <div class="danger_mech">
        <h5>Опасность зон</h5>
        <p>
            Игровой мир поделен на отдельные локации, города, планеты и системы. Каждой из них может быть присвоен один
            из уровней опасности характеризующий, как силу неприятностей, которые могут в них выпасть на отряд, так и степень
            награды, полученную за их преодоление. Степень угрозы врагов определяет возможность появления опасных юнитов
            и техники. Дальнейшие описания, по большей степени, являются рекомендательными для гейм-мастера и не запрещают
            выставлять против игроков врагов, которые не вписываются в уровень опасности зоны или угрозы врагов, если того
            требует сюжет
        </p>
        <p>Опасность зон подразделяется на:</p>
        <ul>
            <li>Нулевая опасность. Угроза столкновения с противниками отсутствует либо минимальна.
                Внешнее окружение, в общем и целом, безопасно</li>
            <li>Зеленая опасность. В зоне присутствуют враги, но их активность сильно ограничена собственным количеством
                либо противодействием имперских сил. Возможна ограниченная техногенная либо природная опасность</li>
            <li>Синяя опасность. Вражеская активность находится на умеренном уровне. Возможны серьезные
                техногенные и природные опасности</li>
            <li>Фиолетовая опасность. Высокая вражеская активность вызванная либо высоким количеством врагов либо недостаточностью
                сопротивления имперских сил. Возможны техногенные и природные опасности за исключением самых суровых</li>
            <li>Красная опасность. Наивысший уровень угрозы включающий любые опасные события и количества врагов</li>
        </ul>
    </div>

    <div class="threat_mech">
        <h5>Степень угрозы врагов</h5>
        <p>Данный параметр отвечает за возможность и частоту появления в зоне наиболее сильных юнитов противника.</p>
        <p>Степеньугрозы подразделяется на следующие пункты:</p>
        <ul>
            <li>Нулевую степень. Враги полностью отсутствуют</li>
            <li>Первую степень. Исключительно слабая пехота и средняя пехота. Возможны сильные юниты, но только в виде боссов</li>
            <li>Вторую степень. Появляется пехота вплоть до сильных юнитов. Возможна легкая бронетехника в виде боссов</li>
            <li>Третью степень. Пехота не ограничена типом юнитов. Проявляется небольшая активность вражеской авиации и бронетехники
                Возможны сильнейшие юниты в виде боссов</li>
            <li>Четвертую степень. Активность авиации и бронетехники становится нормой. Возможно появление любых стандартных врагов. Возможно
                появление сильнейших вар-форм в виде боссов</li>
            <li>Пятую степень. Состав вражеского войска не ограничен ничем</li>
        </ul>
    </div>
</div>
{% endblock content %}