{% extends 'baseapp/main_menu/main_rules_rp.html' %}
{% load static %}

{% block content %}
<style>
    .content {
        background-image: url({% static 'baseapp/img/background_death_img.jpg' %});
        background-size: 100% 100%;
    }
    h5 {
        font-weight: bold;
        }
</style>
<div class="death_mech">
    <div class="trauma">
        <h5>Травмы</h5>
        <p>В ходе игры, при неудачном стечении обстоятельств, можно получить различные травмы и повреждения
         снижающие характеристики. Они могут быть как результатом критической неудачи, так и результатом
        целенаправленного повреждения конечностей. Тяжелые болезни, также могут оставлять травмирующие последствия
        в т.ч. перманентного свойства. Нахождение в предсмертном состоянии может вызывать травмы в многих случаях</p>
        <h5>Кротечения</h5>
        <p>Обычные кровотечения наносят 1d6 урона в ход обычным существам и 2d6 урона огромным существам. Их можно
        остановить с помощью спец.средств или просто заткнув рану рукой</p>
        <p>Тяжелые кровотечения наносят 2d6 урона в ход и 4d6 урона огромным существам. Их можно устранить лишь с
        помощью спец.средств</p>
    </div>

    <div class="main_death">
        <h5>Предсмертные состояния</h5>
        <p>Сразу после падения HP ниже 0 игроки теряют сознание и начинают прокидывать кубик на выживание. Кубик бросается 1 раз в ход,
        а также после каждого попадания по ним, приведшего к урону, с увеличивающейся на +1 сложностью. При этом будет
        накладываться суммирующийся штраф +2 на любые действия кроме выживания</p>
        <p>При первом броске неудача будет означать получение серьезной травмы, при последующих - смерть. Критическая неудача
        всегда приводит к смерти. Критическая удача позволяет сохранить сознание и восстановить HP до 1</p>
        <p>НПС и мобы не имеют механики предсмертных состояний и после падения HP до нуля - умирают. Берегите ваших НПС</p>
    </div>
</div>
{% endblock content %}