{% extends 'baseapp/main_menu/main_rules_rp.html' %}

{% block content %}
<div class="movement_mech">
    <div class="systems">
        <h6>Звездные системы</h6>
        <p>Текущая игровая карта представляет собой субксектор в котором имеются различные системы главная планета которых
        относится к одному из типов имперских миров. Перемещение между системами возможно через варп либо иными
        сверхсветовыми способами</p>
        <p>Уровень угрозы системы формируется по уровню угрозы главной планете - на планетах, станциях либо в космосе
        уровень опасности может отличаться</p>
    </div>

    <div class="terrains">
        <h6>Террейны</h6>
        <p>Под террейном подразумевается конкретная область, на которой происходят события, в том числе боевые. На террейны
        завязано формирование случайных событий, а также многие сюжетные события. Внутри каждый системы и даже планеты
        могут существовать множество террейнов. Некоторые террейны изначально обладают высоким уровнем опасности и подразумевают
        наличие определенных врагов. Список террейнов не раскрывается чтобы не спойлерить сюжет, но включает около 25 видов</p>
        <p>В общем и целом террейны делятся несколько групп отличающихся друг от друга</p>
        <ul>
            <li>Обитаемые миры и станции с имперской либо околоимперской властью</li>
            <li>Миры с победившим либо почти победившим демоническим вторжением</li>
            <li>Изначально не подразумевающие наличие имперской власти места</li>
            <li>Псевдо-террейны, на которых могут развиваться события такие как варп, космос, атмосфера</li>
            <li>Необитаемые миры либо погибшие миры</li>

        </ul>
    </div>

    <div class="walking">
    1
    </div>

    <div class="random_encounters">
    <h6>Случайные события</h6>
        <p>При путешествии между локациями гейм-мастером могут быть вызваны случайные события которые генерируются
        специально предназначенной для этого утилитой. Она формирует как тип события, согласно типу террайна, по которому
        перемещается отряд так и его удачливость. Множество событий являются уникальными для отдельных типов террейнов.
        На выпадение некоторых событий также влияет опасность данного террейна и наличие угрозы от определенных врагов.</p>
    </div>
</div>
{% endblock content %}