{% extends 'baseapp/main_menu/main_rules_rp.html' %}
{% load static %}

{% block content %}
<style>
    .content {
        background-image: url({% static 'baseapp/img/background_movement_img.jpg' %});
        background-size: 100% 100%;
    }
    h5 {
        font-weight: bold;
        }
</style>
<div class="movement_mech">
    <div class="systems">
        <h5>Субсектор</h5>
        <p>Весь субсектор представлен на соответствующей карте. Он граничит с Великим Разломом. Наиболее безопасные миры
            находятся на краю субсектора. За цвет систем на карте отвечает их общий уровень опасности. На карте указаны
            только общеизвестные места. Скрытые, а также динамически перемещающиеся объекты на карте отсутствуют
        </p>
        <h5>Звездные системы</h5>
        <p>Текущая игровая карта представляет собой субксектор, с множеством систем, классифицирующихся по центральной планете
        относящеся к одному из основных типов имперских миров. Перемещение между системами возможно через варп либо иными
        сверхсветовыми способами</p>
        <p>Уровень угрозы системы формируется либо по главной планете либо в целом по системе - отдельных локациях либо в космосе
        уровень опасности может отличаться</p>
    </div>

    <div class="terrains">
        <h5>Террейны</h5>
        <p>Под террейном подразумевается конкретная область, на которой происходят события, в том числе боевые. На террейны
        завязано формирование случайных событий, а также многие сюжетные события. Внутри каждый системы и даже планеты
        могут существовать множество террейнов. Некоторые террейны изначально обладают высоким уровнем опасности и подразумевают
        наличие определенных врагов. Список террейнов не раскрывается чтобы не спойлерить сюжет, но включает около 25 видов</p>
        <h6>В общем и целом террейны делятся несколько групп отличающихся друг от друга:</h6>
        <ul>
            <li>Обитаемые миры и станции с имперской либо околоимперской властью</li>
            <li>Миры с победившим либо почти победившим демоническим вторжением</li>
            <li>Изначально не подразумевающие наличие имперской власти места</li>
            <li>Псевдо-террейны, на которых могут развиваться события такие как варп, космос, атмосфера</li>
            <li>Необитаемые либо погибшие миры</li>

        </ul>
    </div>

    <div class="walking">
        <h5>Перемещение в варпе</h5>
        <p>Путешествия в варпе опасны и непредсказуемы. Количество варп-топлива рассчитывается исходя
        из дистанции, выброшенного кубика умения корабельного навигатора, а также  надёжности варп-двигателя и
            спокойствия варпа в данной области</p>

        <h5>Перемещение внутри систем</h5>
        <p>Обычные космические полёты не сопряжены с дополнительным риском, но требуют обычного топлива. Скорость корабля
        зависит от технических характеристик корабля и умений техножреца корабля</p>

        <h5>Перемещение внутри локаций</h5>
        <p>Движение внутри локаций и планет осуществляется как на технике, включая летную, так и пешком. При движении
        пешком, скорость определяется по самому медленному члену отряда</p>
    </div>


    <div class="random_encounters">
    <h5>Случайные события</h5>
        <p>При путешествии между локациями гейм-мастером могут быть вызваны случайные события которые генерируются
        специально предназначенной для этого утилитой. Она формирует как тип события, согласно типу террайна, по которому
        перемещается отряд так и его удачливость. Множество событий являются уникальными для отдельных типов террейнов.
        На выпадение некоторых событий также влияет опасность данного террейна и наличие угрозы от определенных врагов.</p>
    </div>
</div>
{% endblock content %}