{% extends 'baseapp/main_menu/main_rules_rp.html' %}
{% load static %}

{% block content %}
<style>
    .content {
    background-image: url({% static 'baseapp/img/background_economy_img.jpg' %});
    background-size: 100% 100%;
    }
</style>
<div class="trade_and_economy_mech">
    <div class="trade_mech">
        <h6>Торговля</h6>
        <p>Даже в раздираемом нискончаемом войной мире вархаммера торговля это ядро выживания человечества. Именно
        поэтому она столько важна и прибыльна. И чем опаснее ситуация в системе, вы больше торговцы берут за свои
        услоги. Импорт и экспорт основных групп товаров зависит от имперского класса планет либо от их специализации,
            которую нужно уточнять:</p>
        <ul>
            <li>Продовольствие. Эспорт - аграрные, райские и миры-океаны. Импорт - все остальные</li>
            <li>Вооружение. Эспорт - миры-кузницы. Импорт - все миры с высоким уровнем угрозы и варзоны</li>
            <li>Предметы роскоши. Экспорт - миры ульи. Импорт - миры с низком уровнем угрозы</li>
            <li>Полезные ископаемые. Эспорт - добывающие миры. Импорт - миры кузни и миры-ульи</li>
            <li>Промышленная продукция. Эспорт - промышленные миры. Импорт - все остальные</li>
        </ul>

        <p>Помимо спроса и предложения, влияющего на цену, существует также коэфициент опасности, который применяется к
        ценам на товары, как эспортные так и импортные, в зависимости от опасности системы</p>
        <ul>
            <li>Зеленый и нулевой уровень опасности - скидок нет</li>
            <li>Синий - коэфициент скидки/наценки 10%</li>
            <li>Фиолетовый - коэфициент скидки/наценки 20%</li>
            <li>Красный - коэфициент скидки/наценки 10%</li>
        </ul>
    </div>

    <div class="economy_mech">
        <h6>Экономика</h6>
        <p>Товарно денежные отношения на разных мирах организованы по разному и во многом зависит от их специализации,
        их имперского уровня, торговых традиций, безопасности итд, но в общем и целом концепция товарно-денежного либо
        бартерного обмена известна почти везде. Для торговли используются разные валюты и реальный обменный курс
        также зависит от многих факторов. Условно говоря, за ваши гульдены, активно использующиеся в торговле
        между двумя мира, на другом конце сектора, где используются дукаты, могут дать в 10 раз меньше товара. В субсекторе
        в ходу, как минимум, данные валюты:</p>
        <ul>
            <li>Имперские кредиты</li>
            <li>Трон-гельты</li>
            <li>Имперские кроны</li>
            <li>Мьётлиндские даллары</li>
            <li>Велантийские гульдены</li>
            <li>Опсийские дукаты</li>
            <li>Марсианские омни-коины</li>
        </ul>
    </div>
</div>
{% endblock content %}