{% extends 'baseapp/main_menu/main_rules_rp.html' %}
{% load static %}

{% block content %}
<style>
    .content {
        background-image: url({% static 'baseapp/img/background_economy_img.jpg' %});
        background-size: 100% 100%;
    }
    h5 {
        font-weight: bold;
        }
</style>
<div class="trade_and_economy_mech">
    <div class="trade_mech">
        <h5>Торговля</h5>
        <p>Даже в раздираемом нискончаемом войной мире вархаммера торговля это ядро выживания человечества. Именно
        поэтому она столько важна и прибыльна. И чем опаснее ситуация в системе, вы больше торговцы берут за свои
        услуги. Импорт и экспорт основных групп товаров зависит от имперского класса планет и от их специализации,
            которую нужно уточнять.</p>

        <p>Торговые товары сгруппированы по целым классам и представляют собой контейнеры с продукцией, которую
        необходимо физически помещать на корабль. Спрос и предолжение формируются на основе уровня населения
        производственного мира, но регулируется и балансируется организатором во избежание абузов</p>
        <p>На закупочную/продажную цену также влияет наличие дефицита импортных товаров или перепроизводство
        собственных товаров</p>
        <p>Помимо спроса и предложения, влияющего на цену, существует также коэфициент опасности, который применяется к
        ценам на товары, как эспортные так и импортные, в зависимости от опасности системы</p>
        <ul>
            <li>Зеленый и нулевой уровень опасности - стандартные цены</li>
            <li>Синий - коэфициент скидки/наценки 10%</li>
            <li>Фиолетовый - коэфициент скидки/наценки 20%</li>
            <li>Красный - коэфициент скидки/наценки 30%</li>
        </ul>
    </div>

    <div class="economy_mech">
        <h5>Экономика</h5>
        <p>Товарно денежные отношения на разных мирах организованы по-разному, и во многом зависит от их специализации,
        их имперского уровня, торговых традиций, безопасности итд. Но в общем и целом концепция товарно-денежного либо
        бартерного обмена известна почти везде. Для торговли используются разные валюты и реальный обменный курс
        также зависит от многих факторов. Условно говоря, за ваши гульдены, активно использующиеся в торговле
        между двумя мирами, на другом конце сектора, где используются дукаты, могут дать в 10 раз меньше товара. В субсекторе
        в ходу, как минимум, данные валюты:</p>
        <ul>
            <li>Имперские кредиты</li>
            <li>Мьётлиндские даллары</li>
            <li>Велантийские гульдены</li>
            <li>Опсийские дукаты</li>
            <li>Марсианские омни-коины</li>
        </ul>
        <p>Корабельная команда каждую игровую сессию получает заработную плату, которую выдает Вольный Торговец. В его
        власти снижать в целях экономии или повышать в целях мотивировки, данные выплаты. Как НПС-членам экипажа так
        и живым игрокам</p>
    </div>
</div>
{% endblock content %}