.about_mech{
        display: grid;
        grid-gap: 15px;
        height: 100%;
        grid-template-areas:
            "A A . . "
            "B B C C"
            "B B C C"
            "D D E E"
            "D D E E";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }

.about_common_mech, .player_resp_mech, .gm_resp_mech, .ban_mech, .agreed_mech{
        border: 5px solid #4d4d4d;
        background: #000000;
}

.about_common_mech{grid-area: A}

.player_resp_mech{grid-area: B}

.gm_resp_mech{grid-area: C}

.ban_mech{grid-area: D}

.agreed_mech{grid-area: E}