.danger_and_threat_mech{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: stretch;
        height: 100%
}

.danger_mech, .threat_mech{
    border: 5px solid #4d4d4d;
    background: #000000;
}

