.trade_and_economy_mech{
        display: grid;
        grid-gap: 15px;
        height: 105%;
        grid-template-areas:
            ". . . ."
            ". . . ."
            "A A B B"
            "A A B B"
            "A A B B"
            "A A B B";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.trade_mech, .economy_mech{
        border: 5px solid #4d4d4d;
        background: #000000;
}
.trade_mech{grid-area: A}

.economy_mech{grid-area: B}