
.left_panel {
        position: relative;
        float: left;
        background: #000000;
        width: 180px;
        padding: 25px;
        height: 450px;
        color: #fff;
        border: 5px solid #4d4d4d;
        margin-left: 10px;
        }

.main_menu_buttons {
        position: relative;
        margin-left: -45px;
        font-weight: bold;
        font-size: 120%;
        list-style: none;
        }

.main_menu_elems {
        text-decoration: none;
        color: #fff;
        display: block;
        }

.main_menu_elems:hover {
        transform: scale(1.05)
        }

.aquila {
        margin-left: -10px;
        }

.content {
        background: #000000;
        width: 1600px;
        padding: 25px;
        height: 900px;
        color: #fff;
        border: 5px solid #4d4d4d;
        margin-left: 220px;
        margin-top: 40px;
        }
