/*
В данном CSS находятся селекторы каждой отдельной системы чтобы поместить ее на общую карту согласно необходимых координат
*/

.avaja {position: absolute; top: 572px; left: 1412px;}

.anomaliya-u41 {position: absolute; top: 217px; left: 1373px;}

.anomaliya-vual{position: absolute; top: 397px; left: 507px;}

.anomaliya-tetta{position: absolute; top: 181px; left: 694px;}

.anomaliya-tishina{position: absolute; top: 655px; left: 1494px;}

.arkeya{position: absolute; top: 531px; left: 1064px;}

.arturaks{position: absolute; top: 185px; left: 1156px;}

.asgardiya {position: absolute; top: 156px; left: 973px;}

.ajax{position: absolute; top: 757px; left: 1235px;}

.barbas{position: absolute; top: 688px; left: 1078px;}

.belgejze{position: absolute; top: 517px; left: 1563px;}

.boeviya{position: absolute; top: 427px; left: 945px;}

.brabant{position: absolute; top: 513px; left: 1230px;}

.velantis{position: absolute; top: 512px; left: 935px;}

.gamma-opsiya{position: absolute; top: 462px; left: 1312px;}

.gefest{position: absolute; top: 312px; left: 1434px;}

.gnolliya{position: absolute; top: 504px; left: 615px;}

.dzharks{position: absolute; top: 609px; left: 1336px;}

.jova{position: absolute; top: 420px; left: 1374px;}

.karvaks{position: absolute; top: 510px; left: 1482px;}

.ksantifiya{position: absolute; top: 756px; left: 1004px;}

.last-houp{position: absolute; top: 393px; left: 924px;}

.levoniya{position: absolute; top: 583px; left: 765px;}

.majorka{position: absolute; top: 440px; left: 1461px;}

.mersiya{position: absolute; top: 658px; left: 1157px;}

.morkaya{position: absolute; top: 335px; left: 377px;}

.mortiya{position: absolute; top: 707px; left: 803px;}

.morfeya{position: absolute; top: 475px; left: 522px;}

.myottlind{position: absolute; top: 667px; left: 1295px;}

.noaks{position: absolute; top: 661px; left: 995px;}

.oyun{position: absolute; top: 435px; left: 1327px;}

.pella{position: absolute; top: 343px; left: 1402px;}

.praetoris{position: absolute; top: 362px; left: 703px;}

.teja{position: absolute; top: 711px; left: 1356px;}

.terranus{position: absolute; top: 686px; left: 897px;}

.tetta-varna{position: absolute; top: 224px; left: 1253px;}

.torstejn {position: absolute; top: 542px; left: 1374px;}

.trakov{position: absolute; top: 724px; left: 1277px;}

.trevoris{position: absolute; top: 497px; left: 1207px;}

.shabbat{position: absolute; top: 584px; left: 1582px;}

.shadd-ur{position: absolute; top: 236px; left: 1172px;}

.eliziya{position: absolute; top: 122px; left: 878px;}



