.movement_mech{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: stretch;
        height: 100%
}

.systems{
    border: 5px solid #4d4d4d;
    background: #000000;
}

.terrains{
    border: 5px solid #4d4d4d;
    background: #000000;
}

.walking{
    border: 5px solid #4d4d4d;
    background: #000000;
}

.random_encounters{
    border: 5px solid #4d4d4d;
    background: #000000;
}