.world0{
        display: grid;
        grid-gap: 15px;
        height: 100%;
        grid-template-areas:
            ". . A A . ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . .";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
}

.system-description{
        border: 5px solid #4d4d4d;
        background: #000000;
}

.system-description {grid-area: A}


.world1{
        display: grid;
        grid-gap: 15px;
        height: 100%;
        grid-template-areas:
            ". . A A . ."
            ". . . . . ."
            ". . B B . ."
            ". . B B . ."
            ". . . . . .";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
}

.world-1-0, .system-description{
        border: 5px solid #4d4d4d;
        background: #000000;
}

.system-description {grid-area: A}
.world-1-0 {grid-area: B}


.world2{
        display: grid;
        grid-gap: 15px;
        height: 100%;
        grid-template-areas:
            ". . A A . ."
            ". . . . . ."
            ". . . . . ."
            ". B B C C ."
            ". B B C C .";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
}

.world-2-0, .world-2-1, .system-description{
        border: 5px solid #4d4d4d;
        background: #000000;
}

.system-description {grid-area: A}
.world-2-0 {grid-area: B}
.world-2-1 {grid-area: C}


.world3{
        display: grid;
        grid-gap: 15px;
        height: 100%;
        grid-template-areas:
            ". . A A . ."
            "B B . . C C"
            "B B . . C C"
            ". . D D . ."
            ". . D D . .";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
}

.world-3-0, .world-3-1, .world-3-2, .system-description{
        border: 5px solid #4d4d4d;
        background: #000000;
}

.system-description {grid-area: A}
.world-3-0 {grid-area: B}
.world-3-1 {grid-area: C}
.world-3-2 {grid-area: D}


.world4{
        display: grid;
        grid-gap: 15px;
        height: 100%;
        grid-template-areas:
            ". . A A . ."
            "B B . . C C"
            "B B . . C C"
            ". D D E E ."
            ". D D E E .";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
}

.world-4-0, .world-4-1, .world-4-2, .world-4-3, .system-description{
        border: 5px solid #4d4d4d;
        background: #000000;
}

.system-description {grid-area: A}
.world-4-0 {grid-area: B}
.world-4-1 {grid-area: C}
.world-4-2 {grid-area: D}
.world-4-3 {grid-area: E}


.world-name {text-align:center}
.system-name {text-align:center}
